body {
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-weight: 200;
}

h1 strong {
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

p {
    color: hsl(229, 6%, 66%);
    font-weight: 200;
}

img {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.card {
    display: block;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 5px 10px hsl(229, 6%, 66%, 0.3);
    height: 250px;
    width: 350px;
}

.card p {
    margin: auto 30px;
} 

.card h2 {
    margin: 30px 30px 10px 30px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1170px) {
    
    header {
        margin: 70px auto 60px auto;
        width: 500px;
    }
    
    .group-of-cards {
        position: relative;
        display: block;
        height: 530px;
        margin: auto;
        text-align: left;
        width: 1110px;
    }
    
    .supervisor {
        background-image: url(images/top-line/cyan-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
        position: absolute;
        left: 0px;
        top: 140px;
    }
    
    .team-builder {
        background-image: url(images/top-line/red-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
        position: absolute;
        top: 0px;
        left: 380px;
    }
    
    .karma {
        background-image: url(images/top-line/orange-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
        position: absolute;
        bottom: 0px;
        left: 380px;
    }
    
    .calculator {
        background-image: url(images/top-line/blue-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
        position: absolute;
        right: 0px;
        top: 140px;
    }
}

@media (min-width: 780px) and (max-width: 1170px) {
    header {
        margin: 70px auto 60px auto;
        width: 500px;
    }
    
    .group-of-cards {
        position: relative;
        display: block;
        height: 530px;
        margin: auto;
        text-align: left;
        width: 730px;
    }
    
    .supervisor {
        background-image: url(images/top-line/cyan-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .team-builder {
        background-image: url(images/top-line/red-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    
    .karma {
        background-image: url(images/top-line/orange-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    
    .calculator {
        background-image: url(images/top-line/blue-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
        position: absolute;
        bottom: 0px;
        right: 0px;
        
    }
}

@media (min-width: 375px) and (max-width: 780px) {
    
    header {
        margin: 70px auto 60px auto;
        width: 400px;
    }
    
    .group-of-cards {
        display: inline-block;
        margin: auto;
        text-align: left;
    }
    
    .supervisor {
        background-image: url(images/top-line/cyan-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
    }
    
    .team-builder {
        background-image: url(images/top-line/red-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
    }
    
    .karma {
        background-image: url(images/top-line/orange-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
    }
    
    .calculator {
        background-image: url(images/top-line/blue-top-line.svg);
        background-repeat: no-repeat;
        background-position: right top;
    }
}